<div style= "text-align:center" class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <h1 class="display-4 fw-normal">Atenção</h1>
              <p class="lead fw-normal">Ao administrador que for alterar qualquer produto, excluir ou adicionar, informe o quanto antes no grupo do Whatsapp.</p>
              <a class="btn btn-outline-secondary" href="?pg=produtos">Gerenciamento dos produtos</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
          </div>
    </div>
</div>